<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>

  <body background="../images/bg1.jpg">
    <h1>
      <center><b>About</b></center>
    </h1>
    <br /><br /><br /><br />
    <center>
      <p>
        William Henry Gates was born on 28 October 1955, in Seattle,
        Washington.<br />
        As the principal founder of Microsoft, Bill Gates is one of the most<br />
        influential and richest people on the planet. Recent estimates of his<br />
        wealth put it at US$84.2 billion (Jan. 2017); this is the equivalent
        <br />
        the combined GDP of several African economies. In recent years he has<br />
        retired from working full time at Microsoft, and has instead
        concentrated<br />
        on working with his charitable foundation “The Bill and Melinda Gates<br />
        Foundation.”
      </p>
    </center>
    <center><a href="/">Home</a></center>
  </body>
</html>
