<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>My Website</title>
  </head>

  <body>
    <header>
      <br /><br /><br /><br />
      <h1>
        <center><b>Welcome to My Website</b></center>
      </h1>
      <br /><br /><br /><br />

      <nav>
        <center>
          <img src="/images/bill.jpg" alt="Image 1" />
          <ul>
            <a href="/about">About</a>
            <a href="/works">Works</a>
            <a href="/gallery">Photo Gallery</a>
          </ul>
        </center>
      </nav>
    </header>
  </body>
</html>
