<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>

  <body background="../images/bg2.jpg">
    <h1>
      <center><b>works</b></center>
    </h1>
    <br /><br /><br /><br />
    <center>
      <p>
        Bill Gates founded Microsoft in 1976 when he formed a contract with MITS
        (Micro Instrumentation and Telemetry Systems) to develop a basic
        operating system for their new microcomputers. In the early days, Bill
        Gates would review every line of code. He was also involved in several
        aspects of Microsoft’s business such as packing and sending off orders.
      </p>
    </center>
    <center><a href="/">Home</a></center>
  </body>
</html>
